body {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;

}

/* header stuff goes here*/
header {
    background-color: #ffac0f;
    font-weight: 700;
    font-size: 3rem;
}




/*Main stuff goes here, question mark*/
main figure.logo {
    float: right;

}
main figure.logo img {
    width: 60%;
    height: auto;
}
main figure figcaption {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}



/*Navigation stuff goes here*/
nav{
    background-color: white;
    color: #9D2eFf;
}
nav ul {

        display: flex;
        list-style-type: none;
}
nav a {
    border-bottom: 1px solid #e6e5e5;
    color: #ffac0f;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
}
nav a:hover {
    color: #9D2eFf;
    text-decoration: underline;
}
li.active a {
    background-color: #9D2eFf;
    color: #ffac0f;
}


/*main page stuff goes here.*/
div {
    background-color: #e6e5e5;
}
h1 {
    
    color: #ffac0f;
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    color: #9D2eFf;
    font-weight: 700;
    font-size: 2rem;
}

p, address {
    background-color: #e6e5e5;
    color: #806c47;
    font-weight: 300;
    font-size: 1rem;

}
ol {
    color: #FF110a;
    margin-left:2rem;
    padding: 1px;
}
dd ul {
        list-style-type: circle;
}
dt {
    color: #9D2eFf
}
dl {
    color: #806c47;
}

div.Playable_classes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.Playable_classes figcaption{
    text-align: center;
    color: #806c47;
}

/*Footer infor goes here*/

footer { 
    border: 1px solid #9D2eFf;
    clear: both;
}
footer p {
     margin: 0;
    }
footer address {
    margin: 0;
    padding: 0;
}
